@import url('https://fonts.googleapis.com/css?family=PT+Sans|Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patrick+Hand&display=swap');

body {
  
  background-color: white;
  position: relative;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

.navbar {
	background-color: #00b14f;
	top: 0;
	z-index: 1;
	position: fixed;
	box-shadow: 5px 3px 1px rgba(0,0,0,0.6);
	width:100%;
}

.abrand {
	color: black;
	font-size: 115%;
	font-family: Viga;
}

.navbar-nav > a {
	color: black;
	font-family: Viga;
	font-size: 108%;
	float: right;
}

.navbar-nav > a:hover {
	color: white;
	font-family: Viga;
}

.navbar-nav >a.navbar-nav-active {
	color: white;
	text-decoration: underline;
	font-family: Viga;
}

.navcart {
	width: 8%;
	float: right;
}

.jumbohome {
	background-image: url('./assets/banner3.png');
	background-size: cover;
	height: 95vh;
	box-shadow: 7px 2px 4px rgba(0,0,0,0.5);
	margin-top:3%;
}

.aboutContain {
	background-color: #999;
	border-radius: 2%;
	box-shadow: 5px 7px 3px rgba(0,0,0,0.6)
}

.judulPage {
	font-family: Viga;
	color: black;
	text-align: center;
	margin-top: 1%;
}

hr {
	width: 20%;
	border-top: 3px solid black;
	margin-bottom: 7%;
}

.txtabout{
 font-family: Patrick Hand;
 color: black;
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 word-spacing: 7px;
 letter-spacing: 1px;
 margin-bottom: 7%;
}

.halal{
	padding-top: 4%;
	width: 40%;
	height: 22vh;
	float: right;
}

.kualitas{
	width: 45%;
	height: 25vh;
	float: left;
	margin-left: 1%;

}

.murah{
	padding-top: 5%;
	width: 39%;
	height: 23vh;
	display: block;
	margin: auto;
}

.pLabel1 {
	 font-family: Patrick Hand;
	 color: black;
	 float: right;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 30%;
	 margin-right: 5%;
}
.pLabel2 {
	 font-family: Patrick Hand;
	 color: black;
	 text-align: center;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 30%;
}
.pLabel3 {
	 font-family: Patrick Hand;
	 color: black;
	 text-align: left;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 30%;

}

.productContain {
	background-color: #a9c4b0;
	margin-top: 1%;
	border-radius: 2%;
	box-shadow: 5px 7px 3px rgba(0,0,0,0.6)
}

.cardItem {
	width: 80%;
	height: 20vh;
}

.cardImg{
	width: 80%;
	height: 30vh;
	display: block;
	margin: auto;
	margin-top: 3%;
	border-radius: 10%;
}

.cardImg:hover{
	transform: scale(1.5);
	display: block;
	margin: auto;
	margin-top: 3%;
	border-radius: 10%;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.6)
}

.cardI {
	margin-bottom: 30%;
	box-shadow: 5px 5px 3px rgba(0,0,0,0.6);
	border-radius: 5%;
}

.cardTitle {
	font-family: Patrick Hand;
	color: black;
	font-weight: bold;
	font-size: 17px;
}

.cardHarga{
	font-family: Patrick Hand;
	color: red;
	font-size: 18px;
	height: 15vh;
}

.formSearch{
	
	margin-bottom: 5%;
	float: right;
	font-family: Viga;
}
.btnSearch {
	background-color: blue;
	color: white;
}

.pagination{
	font-family: Viga;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 5%;
}

.page-item > a {
	color: black;

}

.footer {
	background-color: #00b14f;
	box-shadow: -5px -5px 3px rgba(0,0,0,0.6);
	margin-top: 5%;
}

.pFooter {
	font-family: Patrick Hand;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2%;
	margin-bottom: 2%;
	word-spacing: 5px;
}
.pFooter > a {
	color: black;
}