@import url('https://fonts.googleapis.com/css?family=PT+Sans|Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patrick+Hand&display=swap');

body {
  
  background-color: #a9c4b0;
  
}

nav {
	background-color: #00b14f;
	position: fixed;
}

.abrand {
	color: black;
	font-size: 115%;
	font-family: Viga;
}

.navbar-nav > a {
	color: black;
	font-family: Viga;
	font-size: 108%;
	float: right;
}

.navbar-nav > a:hover {
	color: white;
	font-family: Viga;
}

.navbar-nav >a.navbar-nav-active {
	color: white;
	text-decoration: underline;
	font-family: Viga;
}

.navcart {
	width: 8%;
	float: right;
}

.jumbohome {
	background-image: url('./assets/banner3.png');
	background-size: cover;
	height: 95vh;
}

.judul_about {
	font-family: Viga;
	color: black;
	text-align: center;
	margin-top: 1%;
}

hr {
	width: 20%;
	border-top: 3px solid black;
	margin-bottom: 5%;
}


.txtabout{
 font-family: Patrick Hand;
 color: black;
 text-align: center;
 font-weight: bold;
 font-size: 20px;
 word-spacing: 7px;
 letter-spacing: 1px;
 margin-bottom: 7%;
}

.halal{
	padding-top: 4%;
	width: 32%;
	height: 22vh;
	float: right;
}

.kualitas{
	width: 40%;
	height: 25vh;
	float: left;

}

.murah{
	padding-top: 5%;
	width: 34%;
	height: 23vh;
	display: block;
	margin: auto;
}

.pLabel1 {
	 font-family: Patrick Hand;
	 color: black;
	 float: right;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 7%;
	 margin-right: 3%;
}
.pLabel2 {
	 font-family: Patrick Hand;
	 color: black;
	 text-align: center;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 10%;
}
.pLabel3 {
	 font-family: Patrick Hand;
	 color: black;
	 text-align: left;
	 font-weight: bold;
	 font-size: 25px;
	 margin-bottom: 10%;

}



.footer {
	background-color: #00b14f;
}

.pFooter {
	font-family: Patrick Hand;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2%;
	margin-bottom: 2%;
	word-spacing: 5px;
}
.pFooter > a {
	color: black;
}


